<html>
    <head>

    </head>
    <body>
        <h1>Add an anime to the database.</h1>
        <form method="post" action="/anime">
            Name:           <input type="text"   name="anime[Name]"     ><br>
            Studio:         <input type="text"   name="anime[Studio]"   ><br>
            Episodes:       <input type="number" name="anime[Episodes]" ><br>
            Started Airing: <input type="date"   name="anime[Aired]"    ><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>