<html>
    <head>

    </head>
    <body>
        <h1>Test Form:</h1>
        <form method="post" action="/car">
            Make: <input type="text" name="car[make]"><br>
            Model: <input type="text" name="car[model]"><br>
            Year: <input type="number" name="car[year]"><br>
            Color: <input type="text" name="car[color]"><br>
            <input type="submit" value="Submit">
        </form>       
    </body>
</html>